[submodule "env/.config/nvim"]
	path = env/.config/nvim
	url = git@github.com:benmudry/kickstart.nvim.git
[submodule "tmux-sessionizer"]
	path = tmux-sessionizer
	url = git@github.com:benmudry/tmux-sessionizer.git
